@font-face {
  font-family: 'Glacial-Indifference-Regular';
  src:url('Glacial-Indifference-Regular.ttf.woff') format('woff'),
      url('Glacial-Indifference-Regular.ttf.svg#Glacial-Indifference-Regular') format('svg'),
      url('Glacial-Indifference-Regular.ttf.eot'),
      url('Glacial-Indifference-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
header{
	height: 100px;
}
body {
	padding: 0;
	margin: 0;
  	background-color: #efefef;
}
strong{
	margin-left: 10px;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Glacial-Indifference-Regular';
	padding: 0 5%;
	height: 100px;
	background-color: #47167d;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
  letter-spacing: 3px;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #765996;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
.Photo{
	padding: 20px;
}
.Photo img{
  width: 160px;
  border-radius: 200px;
}
.Photo{
  text-align: center;
}

.button{
  text-align: center;
  padding: 20px;
}

.buttoncv{
  background-image: linear-gradient(144deg,#47167d, #7900ff 50%,#ff7948);
  padding: 9px 19px;
  border-radius: 40px;
}
.button a{
  color: #fff;
  text-decoration: none;
  font-family: 'Glacial-Indifference-Regular';
}
#Profil{
	text-align: center;
}
#Profil h2{
	font-family: 'Glacial-Indifference-Regular';
}
.paraprofil{	
	text-align: center;

}
.paraprofil p {
	font-family: 'Glacial-Indifference-Regular';
	padding-left: 25px;
	padding-right: 25px;
	color: #765996;
	box-sizing: border-box;
	
}
#CSS{
	width: 24px;
}
#HTML{
	width: 24px;
}
#Competences{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color:#efefef ;
	padding: 0px 15px;
	
}
#Competences div{
	margin: 20px 0;
}
#Competences svg{
	padding: 0px 10px;

}
.Competences {
	font-family: 'Glacial-Indifference-Regular';
	text-align: center;
	width: 100%;
	padding: 0px 15px;
}
.logohtcs{
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: solid 2px #765996;
	border-radius: 10px;
	background-image: url("image/courbe.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 15px;
	flex: auto;
}
.Competencepara{
	padding-right: 10px;
	font-family: 'Glacial-Indifference-Regular';
	color: #765996;
}
#PS{
	width: 48px;
}
#competenceps{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color:#efefef ;
}
.logoparaps{
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: solid 2px #765996;
	border-radius: 10px;
	background-image: url("image/courbe2.png");
	background-size: contain;
	background-repeat: no-repeat;
	flex: auto;
	background-position-x: 230px;
	background-position-y: 3px;
}
.paraps{
	padding-right: 10px;
	font-family: 'Glacial-Indifference-Regular';
	color: #765996;
	
}
#AI{
	width: 48px;
}
.logoparaps img{
	padding-left: 10px;
	padding-right: 25px;
}
.logoparaai img{
	padding-left: 10px;
	padding-right: 25px;
}

.logoparaai{
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: solid 2px #765996;
	border-radius: 10px;
	background-image: url("image/courbe.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 15px;
	flex: auto;
}
.paraai{
	font-family: 'Glacial-Indifference-Regular';
	color: #765996;
}
